[Unit]
Description=City4age Project Celery startup script. Must have 664.
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/celery.sh start
ExecStop=/usr/local/bin/celery.sh stop

[Install]
WantedBy=multi-user.target