<!doctype html>
<title>City4Age Rest Application Service</title>


<div style="text-align: center;"><h1>Welcome to City4Age Rest API</h1></div>



<p>Here you have a list of available commands to use:</p>


<ul>
    <li><b>login</b>: Obtain an identification user token.</li>
    <li><b>logout</b>: Remove the actual user token from the system.</li>
    <li><b>add_action</b>: Adds new Action into database.</li>
    <li><b>add_activity</b>: Adds new Executed Activity into database related with some actions.</li>
    <li><b>add_new_activity</b>: Adds new Activity into the Activity codebook.</li>
    <li><b>add_measure</b>: Adds a new Measure into database.</li>
    <li><b>add_eam</b>: Adds information about EAM's in the API related to an activity.</li>
    <li><b>add_care_receiver</b>: Allows to a Pilot add a new user 'care_receiver' in the API.</li>
    <li><b>add_new_user</b>: Adds a new registered user in the system (Administrator only).</li>
    <li><b>add_new_activity</b>: Adds a new activity into the activity codebook (Administrator only).</li>
    <li><b>search[beta]</b>: Makes a search based on a certain criteria.</li>
    <li><b>get_my_info</b>: Returns user information about the actual client.</li>
    <li><b>add_factor</b>: Manually adds the care recipient factor. Available values are 'frail', 'non-frail', 'pre-frail'.</li>
</ul>
