[Unit]
Description=City4age Project ruleInference Module execution.
After=nginx.target

[Service]
Type=simple
# Set working dir to java jar directory.
WorkingDirectory=<project path>
ExecStart=/usr/bin/java -Dlog4j.configuration=file:./conf/log4j.properties -jar ./src/ruleEngine/out/artifacts/ruleEngine_jar/ruleEngine.jar ./conf/mapping.ttl ./conf/rules.txt
User=root
Group=www-data

[Install]
WantedBy=multi-user.target
